@import "~bootstrap/scss/bootstrap";

* {
	font-family: "DotGothic16", sans-serif;
}
.wholePage {
	height: 100vh;
	overflow: hidden;
	background: #feac5e; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#4bc0c8,
		#c779d0,
		#feac5e
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#4bc0c8,
		#c779d0,
		#feac5e
	);
}
.header {
	height: 6vh;
	background-color: rgb(82, 250, 82);
	border-bottom: solid gray 1px;
}
.footer {
	min-height: 4vh;
	background-color: rgb(82, 250, 82);
	border-top: solid gray 1px;
	text-align: center;
}
.mainScreen {
	min-height: 90vh;
	background: #feac5e; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#4bc0c8,
		#c779d0,
		#feac5e
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#4bc0c8,
		#c779d0,
		#feac5e
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.main {
	justify-content: center;
	align-items: center;
}
